# Python
__pycache__/
*.pyc
.venv/
*.db
.pytest_cache/

# Node / Next.js
node_modules/
.next/
out/
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
